---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<Layout title="FMentor">
	<main class="w-96 lg:w-[40rem] mx-auto relative shadow-md lg:shadow-lg rounded-3xl">
		<Card />
	</main>
</Layout>