---
import '@fontsource-variable/hanken-grotesk';
import Part1 from './Part1.astro';
import Part2 from './Part2.astro';
---

<div class="font-hgrotesk flex flex-col lg:flex-row">
	<Part1 number="76"/>
	<Part2 p1="80" p2="92" p3="61" p4="72" />
</div>